body {
    margin: 0;
    overflow: hidden;
    /* Prevents scroll bars from appearing */
}

.timer {
    font-size: 70vh;
    font-weight: 700;
    text-align: center;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* Ensure it spans full width */
    overflow: hidden;
}

@media (max-aspect-ratio: 1/1) {
    .timer {
        font-size: 20vw;
        /* Adjust for portrait mode */
    }
}


.timer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    /* Invisible */
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.9em;
}