body {
    margin: 0;
    overflow: hidden;
    /* Prevents scroll bars from appearing */
}


:root {
    --timer-size: 80vh;
    --timer-font: 60vh;
    --info-size: 15vh;
    --stage-font: 10vh;
    --stage-width: 20vw;
    --stage-justify: left;
    --stage-text-align: left;
    --groups-font: 7vh;

    --timer-font-scale: 1;
    --timer-weight-scale: 1;

    --groups-display: flex;
}

.timer {
    font-size: calc(var(--timer-font) * var(--timer-font-scale));
    font-weight: calc(700 * var(--timer-weight-scale));
    text-align: center;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--timer-size);
    width: 100vw;
    /* Ensure it spans full width */
    overflow: hidden;
}

.info-container {
    display: flex;
    height: var(--info-size);
    padding: 30px;
}

.stage-container {
    display: var(--stage-display);
    flex: 1;
    /* let it expand when groups are hidden */
    justify-content: var(--stage-justify);
    align-items: center;
    /* or flex-start / flex-end as needed */
    height: var(--info-size);
    width: var(--stage-width);
    overflow: hidden;
    font-size: var(--stage-font);
    font-weight: 700;
    text-align: var(--stage-text-align);
    /* can also use var(--stage-text-align) if you want control */
    color: rgb(84, 82, 82);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: nowrap;
}


.groups-container {
    display: var(--groups-display);
    flex: 1;
    justify-content: right;
    align-items: right;
    height: var(--info-size);
    width: 70vw;
    overflow: wrap;
    font-size: var(--groups-font);
    font-weight: 700;
    text-align: right;
    color: rgb(84, 82, 82);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: wrap;
}

@media (max-aspect-ratio: 1/1) {
    .timer {
        font-size: 20vw;
        /* Adjust for portrait mode */
    }
}


.timer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    /* Invisible */
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
}