body {
    margin: 0;
    overflow: hidden;
    /* Prevents scroll bars from appearing */
}

.timer {
    font-size: 60vh;
    font-weight: 700;
    text-align: center;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    /* Ensure it spans full width */
    overflow: hidden;
}

.info-container {
    display: flex;
    height: 15vh;
    padding: 30px;
}

.stage-container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 15vh;
    width: 100vw;
    /* Ensure it spans full width */
    overflow: hidden;
    font-size: 10vh;
    font-weight: 700;
    text-align: left;
    color: rgb(84, 82, 82);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.groups-container {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 15vh;
    width: 100vw;
    /* Ensure it spans full width */
    overflow: wrap;
    font-size: 7vh;
    font-weight: 700;
    text-align: right;
    color: rgb(84, 82, 82);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    white-space: wrap;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
}

@media (max-aspect-ratio: 1/1) {
    .timer {
        font-size: 20vw;
        /* Adjust for portrait mode */
    }
}


.timer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    /* Invisible */
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}